{% extends '::layout.html.twig' %}

{% block title -%} Stoerung bearbeiten {% endblock %}
{% block content -%}

    {{ form(edit_form) }}

        <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('stoerung') }}">
        Zurück zur Liste
    </a>
    {{ form(delete_form) }}
</div>
{% endblock %}
