{% extends '::layout.html.twig' %}

{% block title -%} Stoerung creation {% endblock %}
{% block content -%}
    {{ form(form) }}

        <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('stoerung') }}">
        Back to the list
    </a>
</div>
{% endblock %}
