<nav class="navbar navbar-default navbar-static-top " role="navigation" style="margin-bottom: 0">
    <div class="container-fluid navbar_oben">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-brand">Störungsmelder</div>
        <div class="navbar-right">
            <a href="{{path('aktuelle_stoerungen') }}"
               class="btn btn-default navbar-btn">aktuelle Störungen</a>
            <a class="btn btn-default navbar-btn" href="{{ path('index') }}">
                Startseite
            </a>
            {% include "AppBundle::userinfo.html.twig"%}
        </div>
    </div>

    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <div class="side_header">
                <img class="logo" src="\Hawe_Inline.JPG" alt="Firmenlogo" width="150em" height="90em">
            </div>

            <ul class="nav" id="side-menu">
	            <li>
	    			<a href="{{ path("abteilung") }} ">Abteilungen</a>
	            </li>
                <li>
                    <a href="{{ path("maschinen_index") }} ">Maschinen</a>
                </li>
            </ul>

        </div>


    </div>
</nav>
