ul.record_actions {
	list-style: none;
	margin: 0;
}
ul.record_actions  li {
	float: left;
	margin-right: 10px;
}
a.unlink {
  color: inherit;
}
a.unlink:hover {
  color: inherit;
}

.navbar_oben{
}
.sidebar {
	margin-top: 0 !important;
}

.side_header {
}

.logo {
	width: 100%;
	height: auto;
	}

#side-menu  {
	margin-top: 20px;
}
.search {
	margin-top: 10px;
	margin-left:1050px;
}