{% extends '::layout.html.twig' %}

{% block title -%} Abteilung edit {% endblock %}
{% block content -%}

    {{ form(edit_form) }}

        <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('abteilung') }}">
        Back to the list
    </a>
    {{ form(delete_form) }}
</div>
{% endblock %}
