{% extends '::layout.html.twig' %}

{% block title -%} Abteilung anlegen {% endblock %}
{% block content -%}
    {{ form(form) }}

<div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('abteilung') }}">
        Zurück zur Liste
    </a>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ path('abteilung_new') }}">
        Formular löschen
    </a>
</div>
{% endblock %}
