{% extends "::layout.html.twig" %}

{% block title %}Startseite{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6">
          <a href="{{path('aktuelle_stoerungen') }}" class="unlink">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bolt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ anzahl_stoerungen }}</div>
                            <div>Störungen</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">anzeigen</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6">
          <a href="{{path('laufende_maschinen') }}" class="unlink">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-gear fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{anzahl_maschinen_ok}}</div>
                            <div>{% if anzahl_maschinen_ok == 1 %}
                                    Maschine läuft
                                 {% else %}
                                    Maschinen laufen
                                 {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">Details anzeigen</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
