{% extends "::layout.html.twig" %}

{% block title %}laufende Maschinen{% endblock %}

{% block content %}


{% for abteilung in abteilungen %}

<h1>$abteilung</h1>

		<ul>
    		{% for maschine in maschines %}
        	<li>{{ maschine.name|e }}</li>
        	<li>{{ maschine.seriennummer|e }}</li>
    		{% else %}
        	<li><em>Es wurde keine Maschine gefunden</em></li>
    		{% endfor %}
		</ul>

{% endfor %}
	
 

{% endblock %}
