{% extends "::layout.html.twig" %}

{% block title %}laufende Maschinen{% endblock %}

{% block content %}

	<tr>
		<th>Abteilung</th>
		<th>Maschine</th>
		<th>Seriennummer</th>
	</tr>
    <h2>TODO: Laufende Maschinen anzeigen</h2>

{% endblock %}
