{% extends "::layout.html.twig" %}

{% block title %}Störung {{entity.id}} beenden{% endblock %}

{% block content %}
    <p>Maschine {{entity.maschine.name}} ({{entity.maschine.seriennummer}}) wurde entstört</p>
    {{form(form)}}

{% endblock %}
