{% extends "::layout.html.twig" %}

{% block title %}Neue Störung{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">

angular.module('selectMachineApp',[])
.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('|');
    $interpolateProvider.endSymbol('|');
 })
.controller('selectCtrl',function($scope,$interpolate){
	$scope.abteilungen = {{ abteilungen  | serialize('json') | raw }};
	var pathTpl = '{{ path('stoerung_neu_save', { 'maschineId': "|maschine.id|",'art':"|art|" } )  }}';
	console.log( pathTpl );
	var makelink = $interpolate(pathTpl);
	$scope.submitform = function(art) {
		var form = angular.element('#dieForm');
		form.attr('action', makelink({maschine:$scope.maschine,art:art}) );
		console.log(form);
		form.submit();
	}
})


	</script>
{% endblock %}

{% block content %}
{% verbatim %}
  <div ng-app="selectMachineApp" ng-controller="selectCtrl">
    <div class="row">
    	<div class="col-xs-3">
    		<h2>Abteilung</h2>
	    	<div ng-if="abteilungen">
	    		<select class="form-control" ng-model="$parent.abteilung"
	    			  ng-options="item as item.name for item in abteilungen">
	    		</select>
	    	</div>
	    </div>
    	<div class="col-xs-3">
    		<h2>Maschine</h2>
	    	<div ng-if="abteilung">
	    		<select class="form-control" ng-model="$parent.maschine"
					ng-options="item as item.name for item in $parent.abteilung.maschinen">
	    		</select>
	    	</div>
	    </div>
	    <div class="col-xs-3">
    		<h2>Bemerkungen</h2>
    		<textarea ng-model="bemerkungen" placeholder="Hier kommen die Bemerkungen rein!!" cols="40" rows="4">
	    	</textarea>
	    	</div>
    	<div class="col-xs-3">
    		<h2>Art</h2>
	    	<a ng-click="submitform('Störung')" ng-if="maschine" class="btn btn-primary">
	    		Störung
	    	</a>
	    	<a ng-click="submitform('Ausfall')" ng-if="maschine" class="btn btn-danger">
	    		Ausfall
	    	</a>
        </div>
    </div>
    <div class="row">
    	<form id="dieForm" method="post">
    		<textarea ng-model="bemerkungen" name="bemerkungen"></textarea>
    		<input type="submit">
    	</form>
    </div>
  </div>
{% endverbatim %}
{% endblock %}
